body{
    margin: 20px;
}
.g-3{
    background-color: #ccc;
    width: 98%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    margin: 15px;
    color: blue;
}

.table table{
    margin: 0 auto;
}
