.form{
    background-color: #ccc;
    width: 98%;
    text-align: center;
}

.form h1{
    color: red;
}

.form .btn-outline-primary, .btn-outline-info {
    margin-left: 50px;
    margin-top: 200px;
}

.list-group-flush li{
    font-size: 35px;
    background-color: #ccc;
}
